.navbar {

    .avatar-container {
        display: flex;
        width: 200px;
        border: 2px solid;
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
    }
}